/* css */
html, body {
  background-color: #DFE2D9;
}

* {
  box-sizing: border-box;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

/* title text adjustments */
@media screen and (min-width: 1000px) {
  .textsize {
    font-size: 60px;
  }
}

@media screen and (max-width: 999px) {
  .textsize {
    font-size: 40px;
  }
}

@media screen and (max-width: 780px) {
  .textsize {
    font-size: 30px;
  }
}

/* subtitle text adjustments */
@media screen and (min-width: 1000px) {
  .stextsize {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .stextsize {
    font-size: 10px;
  }
}

.d-none {
  display: block !important;
}
