/* css */
html, body {
  background-color: #DFE2D9;
}

.title {
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
  white-space: nowrap;
}

.subtitle {
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
  white-space: nowrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

/* title text adjustments */
@media screen and (min-width: 1000px) {
  .textsize {
    font-size: 80px;
  }
}

@media screen and (max-width: 990px) {
  .textsize {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  .textsize {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .textsize {
    font-size: 40px;
  }
}

.d-none {
  display: block !important;
}
